<div class='regist_back'>
  <div class='log-up'>
    <%= render partial: 'common/login_logo' %>

    <div class='log-in-inner'>
      <h2>会員登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class='form-group'>
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :パスワード %>
          <% if @validatable %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :パスワード（確認） %><br />
          <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :グループ名（半角英数） %><br />
          <%= f.text_field :group_key, class: 'form-control'%>
        </div>

        <div class='actions'>
          <%= f.submit class: 'btn btn-primary withripple', value: '新規登録' %>
        </div>
      <% end %>

      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>