<% provide :title, "| #{@group.key}" %>
<div class="row form">
  <div class="col-lg-12">
    <%= form_for @group do |f|%>
      <div class="form-group">
          <%= f.label :key, :Name, class: "control-label"%>
          <%= f.text_field :key, placeholder: "グループ名を入力してください", class: "form-control" %>
      </div>

      <div class="form-group">
          <%= f.label :detail, :Detail, class: "control-label"%>
          <%= f.text_field :detail, placeholder: "グループ概要を入力してください", size: "30x10", class: "form-control" %>
      </div>

      <%= f.submit "送信", class: "btn btn-primary withripple"%>
    <% end %>
  </div>
</div>