<% provide :title, "| #{@group.key}" %>
<div class="row form">
  <div class="col-lg-12">
    <h3><%= @group.key %>
      <small class="edit">
        <%= link_to "編集", edit_group_path(@group)%>
      </small>
    </h3>
    <p><%= @group.detail.blank? ? "このグループの説明はありません" : @group.detail%></p>
    <div class="group_action panel panel-default"></div>
      <h3>Member List</h3>
    <div class="list-group">
      <% @group.users.each do |user| %>
        <div class="list-group-item"><%= link_to user.name, user_path(user) %><hr></div>
      <% end %>
    </div>
  </div>
</div>