<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), method: :post) do |f| %>
  <%= devise_error_messages! %>

  <div class='form-group'>
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class='actions'>
    <%= f.submit class: 'btn btn-primary withripple', value: '再発行' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
