<div class="row form">
  <div class="col-lg-12">
    <h3>回答の作成が終了しました。</h3>
    <%= link_to "他の人の回答を見る", question_path(@answer.question) %>
    <%= link_to "ホームに戻る", root_path %>
  </div>
</div>