<div class='login_back'>
  <div class='log-in'>
    <%= render partial: 'common/login_logo' %>
    <div class='log-in-inner'>
      <h2>ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% if alert %>
          <p class='alert alert-danger'><%= alert %></p>
        <% end %>

        <div>
          <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: 'input form-control' %>
        </div>

        <div>
          <%= f.password_field :password, autocomplete: 'off', placeholder: 'パスワード', class: 'input form-control' %>
        </div>
        <br>

        <div class="form-group">
          <%= f.label :グループ名（半角半数） %>
          <%= f.text_field :group_key, class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class='checkbox'>
              <label>
                <input id='user_remember_me' name='user[remember_me]' type='checkbox' value='1'>
                <%= f.label :ログイン情報を記憶する, class: 'memory-check' %>
              </label>
          </div>
        <% end %>

        <div>
          <%= f.submit class: 'btn btn-primary withripple', value: 'ログイン' %>
        </div>
      <% end %>

      <div class='login_link'>
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>