<% if user_signed_in? %>
  <div class='navbar navbar-default navbar-fixed-top'>
    <div class='container'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-responsive-collapse'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <%= link_to root_path, :class => 'navbar-brand' do %>
        <%= image_tag 'logo.png' %> <small class='hidden-xs hidden-sm'>仲間とプロフィールを共有しよう！</small>
      <% end %>
      <div class='navbar-collapse collapse navbar-responsive-collapse navbar-right'>
        <ul class='nav navbar-nav'>
          <li><%= link_to 'HOME', root_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">グループ<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to current_user.group.key, group_path(current_user.group) %></li>
              </ul>
          </li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>アカウント <span class='caret'></span></a>
            <ul class='dropdown-menu' role='menu'>
              <li><%= link_to 'マイページ', user_path(current_user) %></li>
              <li><%= link_to 'プロフィール', edit_user_path(current_user) %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>